.button{
    display: flex;
    height: 7rem;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 2rem;
    background-color: rgb(228, 233, 233);
    color: #888;
    outline: 1px solid #888;
}

.operator{
    background-color: orangered;
    color: #fff;
}